body {
    .table-custom >.row-fax {
        min-width: 120px;
    }

    .table-custom > .row-phone {
        min-width: 120px;
    }

    .table-custom > .row-actions {
        min-width: 120px;
    }
}
